@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800;900&display=swap');
@import '../node_modules/bs-icon/icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Inter', sans-serif;
}

.table th:first-child {
  position: static;
}

:root {
  --run-red-1: #ff1616;
  --run-red-2: #ff5151;
}
